@import './_variables.scss';
.component {
    font-family: 'Open Sans', sans-serif;
    &.app {
        max-width: 1024px;
        margin: 0px auto;
        .heading {
            font-size: 30px;
            padding: 50px 0px 10px;
        }
        .footer {
            text-align: center;
            padding: 5px 0px 20px;
        }
        .loading {
            height: 200px;
            text-align: center;
            font-size: 35px;
        }
    }
    &.gallery {
        .card-columns {
            .card {
                @include border-radius(7px);
                border: 0px;
                &:hover,
                &:focus {
                    @include box-shadow(0px 5px 10px #ccc);
                    cursor: pointer;
                }
            }
        }
        .pages {
            height: 30px;
            display: table;
            margin: 30px auto 0px;
            &:after {
                content: '';
                clear: both;
            }
            .page {
                min-width: 30px;
                height: 30px;
                line-height: 30px;
                padding: 0px 7px;
                background: #7bcdff;
                color: #ffffff;
                @include border-radius(4px);
                text-align: center;
                float: left;
                &:hover,
                &:focus {
                    cursor: pointer;
                    background: #007ecc;
                }
                &:not(:last-child) {
                    margin: 0px 10px 10px 0px;
                }
                &.active {
                    cursor: initial;
                    background: #007ecc;
                }
                &.dots {
                    cursor: initial;
                    background: #fff;
                    color: inherit;
                }
                &.actions {
                    font-size: 10px;
                }
            }
        }
        .popup {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.9);
            color: #ffffff;
            position: fixed;
            top: 0px;
            left: 0px;
            &:hover .actions,
            &:focus .actions {
                display: block;
            }
            .preview {
                width: calc(100% - 100px);
                height: calc(100% - 215px);
                margin: 50px auto 0px;
                position: relative;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                    margin: 0px auto;
                    @include box-shadow(0px 5px 10px #111);
                }
            }
            .actions {
                width: 50px;
                height: 50px;
                text-align: center;
                position: fixed;
                top: calc(50% - 25px);
                font-size: 40px;
                display: none;
                text-shadow: 1px 1px 1px #000;
                &:hover,
                &:focus {
                    cursor: pointer;
                }
                &.goPrev {
                    left: 0px;
                }
                &.goNext {
                    right: 0px;
                }
            }
            .about {
                width: 100%;
                height: 150px;
                margin: 0px auto;
                color: #fff;
                padding: 20px 100px;
                font-size: 13px;
                position: absolute;
                bottom: 0px;
                left: 0px;
                overflow-y: auto;
                a {
                    color: inherit;
                    text-decoration: underline;
                }
                &::-webkit-scrollbar {
                    width: 5px;
                    background: rgba(255, 255, 255, 0.7);
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(45, 45, 45, 0.5);
                }
            }
            .close {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                color: #fff;
                text-align: center;
            }
        }
    }
}

@import './responsive.scss';