@import './_variables.scss';
#wrapper {
    max-width: 1024px;
    margin: 0px auto;
    #gallery {
        .photos {
            &:after {
                content: '';
                clear: both;
            }
            .photo {
                padding: 5px;
                border: 1px solid #eee;
                float: left;
            }
        }
    }
}